*{
    margin: 0px;
}

.heroHeader{
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 8px;
    align-items: center;
}
.header-logo {
    font-size: 24px;

}

.headerLinks > a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;

}

.headerLinks{
    display: flex;
    gap: 22px;
}

.headerSection{
    display: flex;
    background-color: #1F2937;
    align-items: center;

}

.RHeaderSection{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b4b4b475;
    margin: 150px;
    margin-left: 20px;
}

.LHeaderSection{
    justify-content: center;
    margin-left: 150px;
}

.RHeaderSection > p{
    text-align: center;
    color: #E5E7EB;
    font-size: 18px;

}

.LHeaderSection > h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    padding: 5px;
}

.LHeaderSection > p{
    color: #E5E7EB;
    font-size: 18px;
    padding: 5px;

}

#headerButton{
    border-radius: 5px;
    background-color: #3882f6;
    color: #F9FAF8;
    border: 0;
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100px;
    margin-top: 5px;
    margin-left: 5px;
}

.RHeaderSection,
.LHeaderSection{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 200px;
    width: auto;
}

#secOneHeader{
    text-align: center;
    padding: 25px;
}

.box{
    display: flex;
    height: 100px;
    width: 100px;
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.boxesOne{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.secOneText{
    display: flex;
    justify-content: center;
    gap: 30px;

}

.secOneText > p{
    display: flex;
    border: 2px solid rgb(255, 255, 255);
    justify-content: center;
    width: 100px;
    height: 100px;
    color: #1F2937;
    text-align: center;
    padding-top: 5px;
} 

.sectionOne{
    padding-bottom: 20px;
}

.sectionTwo{
    background-color: #E5E7EB;
    padding: 100px;
}

.sectionTwo > p{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.sectionTwo > h4 {
    text-align: end;
    margin-right: 100px;
    font-size: 24px;
}

.contentSecThree{
    background-color:#3882f6;
    display: flex;
    width: 850px;
    height: 100px;
    margin: 50px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
}

.sectionThree{
    display: flex;
    justify-content: center;
}

.LSecThree{
    color: #F9FAF8;
}

.LSecThree > h4{
    font-size: 24px;
}

#secThreeButton{
    width: 100px;
    height: 30px;
    background-color: #3882f6;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 5px;
}

footer{
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 30px;
}